doctype html(lang='en-US')
head
    title My Project
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='../www/assets/js/sample.js')
    link(rel='stylesheet', type='text/css', href='css/sample.css')
  body
    .fullApp(ng-app='MyApp', ng-controller='MyCtrl')
      form(name='loginForm', ng-hide='loggedin')
        h1  Login using your credentials 
        | &#x9;  
        div
          | Enter your UserName : 
          input(type='text', placeholder='UserName', ng-model='username', required='')
        |  
        br
        | &#x9;  
        div
          | Enter your Password : 
          input(type='password', placeholder='password', ng-model='password', required='')
        |  
        br
        | &#x9;  
        button(type='submit', value='login', ng-click='onsubmit()', ng-disabled='loginForm.$invalid')  submit 
      |  
      |   
      div(ng-show='loggedin')
        p
          | Name : 
          input(type='text', ng-model='name')
          |  
          span.logout(ng-click='onlogout()') Logout 
        |     
        h1 Hello {{name}}
        // Carousel to show Movies goes here
        .container
          br
          |       
          #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
              li.active(data-target='#myCarousel', data-slide-to='0')
              |           
              li(data-target='#myCarousel', data-slide-to='1')
              |           
              li(data-target='#myCarousel', data-slide-to='2')
              |           
              li(data-target='#myCarousel', data-slide-to='3')
            // Wrapper for slides
            .carousel-inner(role='listbox')
              .item.active
                img(src='images/sample/jura.jpg', alt='Interstellar')
              |           
              .item
                img(src='images/sample/immo.jpg', alt='Immortal')
              |         
              |           
              .item
                img(src='images/sample/mart.jpg', alt='Martian')
              |           
              .item
                img(src='images/sample/spar.jpg', alt='Flower')
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              |           
              span.sr-only Previous
            |         
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              |           
              span.sr-only Next
        // End of Carousel to show Movies Image
        // Movies list shown here
        p
          | Movie : 
          input(type='text', placeholder='Search Movie or Theatre', ng-model='movieTheatreSearch')
        |     
        table.movieTheatrelist
          tr
            th Theatre
            th Movie
          |         
          tr(ng-repeat='movie in movies |filter:movieTheatreSearch track by $index')
            td.TheatreContainer {{movie.name}}
            |           
            td.movieContainer {{movie.movieName}}
        // End of Movies List
        // Commenting this line as of now : can uncomment later
        //
          <menu-home> </menu-home>
          <div id="mainList" ng-hide=true>
          <div ng-repeat ="theatre in theatres">
          <span class="theatre">{{theatre.name}} </span>
          <span class="movie">:  {{theatre.movieName}} </span>
          </div>
          </div>
